<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/566/566294.png">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Online Tic Tac Toe Game</h1>
    <% if (error) { %>
        <script>
            alert('<%= error %>');
            window.history.replaceState(null, null, '/');
        </script>
    <% } %>
    <form id="join-form">
        <input type="text" id="name" name="name" placeholder="Enter your name"  />
        <input type="text" id="room" name="room" placeholder="Enter room ID"    />
        <button type="submit">Join</button>
    </form>

    <script>
        document.getElementById('join-form').addEventListener('submit', function(e) {
            e.preventDefault();
            const name = document.getElementById('name').value;
            const room = document.getElementById('room').value;
            window.location.href = `/game?name=${name}&room=${room}`;
        });
    </script>
</body>
</html>
